version: '3'
services:
  inferno_web:
    build:
      context: ./
    mem_limit: 1500m
    restart: unless-stopped
    volumes:
      - ./resources:/opt/inferno/resources
      - ./_site:/opt/inferno/_site
    depends_on:
      - validator-api
      - inferno_db
    environment:
      TX_SERVER_URL: https://tx.dev.hl7.org.au/fhir
  inferno_worker:
    build:
      context: ./
    command: /opt/inferno/worker.sh
    mem_limit: 2000m
    restart: unless-stopped
    volumes:
      - ./resources:/opt/inferno/resources
    depends_on:
      - redis
      - inferno_db
    environment:
      - FHIR_RESOURCE_VALIDATOR_URL=http://validator-api:3500
  inferno_db:
    image: postgres:14.1-alpine
    mem_limit: 600m
    shm_size: 1g
    restart: unless-stopped
    volumes:
      - ./data/pg:/var/lib/postgresql/data
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_DB: inferno_production
  nginx:
    image: nginx
    volumes:
      - ./_site:/var/www/inferno/public/
      - ./config/nginx.conf:/etc/nginx/nginx.conf
      # - /etc/ssl/certs/inferno:/etc/ssl/certs/inferno:ro
      # to use tls on localhost for development, comment out above line and uncomment below
      - ./config/development-certs:/etc/ssl/certs/inferno:ro
    ports:
      - "80:80"
      - "443:443"
    command: [nginx, '-g', 'daemon off;']
    mem_limit: 100m
    restart: unless-stopped
    depends_on:
      - validator-api
  redis:
    image: redis
    volumes:
      - ./data/redis:/data
    command: redis-server --appendonly yes
    mem_limit: 100m
    restart: unless-stopped
  validator-api:
    image: pavelrozhkov/wrapper:6.3.11
    environment:
      SESSION_CACHE_DURATION: -1
    volumes:
      - ./lib/inferno_platform_template/igs:/home/igs
